@font-face{
    font-family: MyArcadeFont;
    src: url(imgs/04B_30__.TTF);
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.game-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("imgs/mmbg.png");
    background-size: 100% 100%;
}
.isaac{
    position: absolute;
    bottom: 20px;
    left: 50%; /*sredina*/
    transform: translateX(-50%);
    width: 220px;
    height: 280px;
    background-color: transparent;
    max-width: 20%;
    max-height: 20%;
}
 .apple { /* stilizacija za jabuke */
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: transparent;
}
.points {
    font-family: MyArcadeFont;
    position: absolute;
    font-size: 40px; /* Default veličina fonta */
    background-color: green;
    border: 9px solid red;
    color: white;
    max-width: 40%;
    overflow-wrap: break-word;
}

/* Media upit za prilagođavanje veličine fonta na manjim ekranima */
@media screen and (max-width: 600px) {
    .points {
        font-size: 30px; /* Veličina fonta za manje ekrane */
    }
}
.leftbtn{
    font-size: 40px;
    background-color: hwb(120 26% 19%);
    border: 5px solid darkblue ;    
    color: darkblue;
    position: absolute;
    bottom: 10px;
    left: 35%;
    transform: translateX(-50%);

}
.rightbtn{
    font-size: 40px;
    background-color: hwb(120 26% 19%);
    border: 5px solid darkblue ;    
    color: darkblue;
    position: absolute;
    bottom: 10px;
    right: 35%;
    transform: translateX(50%);
}
.poruka {
    font-size: 20px; /* Veličina fonta u odnosu na širinu ekrana */
    font-family: MyArcadeFont;
    background-color: blue;
    position: fixed;
    z-index: 1;
    border-top: 25px red double;
    border-bottom: 25px red double;
    color: white;
    display: flex;
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    text-align: center; /* Centriranje teksta */
    left: 50%; /* Pomeranje na sredinu ekrana */
    top: 50%; /* Pomeranje na sredinu ekrana */
    transform: translate(-50%, -50%); /* Pomeranje na sredinu ekrana */
    width: 100%; /* Ograničavanje širine na 80% širine ekrana */
    max-width: 100%; /* Maksimalna širina za manje ekrane */
    overflow-wrap: break-word; /* Preklapanje teksta u novi red ako je potrebno */
}
.torta{
    width: 150px;
    height: 150px;
}
